!!! 5
%html
  %head
    %script{src: "application.js"}
    %link{rel: "stylesheet", href: "app.css", type: "text/css", media: "screen", charset: "utf-8"}
  %body#burning_ideas

    %form#new_idea{action: "/", method: "POST", onsubmit: "return false"}
      %fieldset
        %label{for: "new_idea"} New idea
        %input#new_idea_description{type: "text"}

    %ul#ideas

    %script{type: "text/template", id: "idea-template"}
      %span <%= description %>
      %a.hot{href: "#"}
        %img{src: "fire.png"}
      %span.hotness
        .value

    :javascript
      $(function() {
        window.Ideas = new IdeaList()
        window.App = new AppView()

        setInterval(function() {
          Ideas.refresh()
        }, 200)
      })

